<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>Thapar Mart</title>
</head>
<body>
    <div class="page"></div>
    <div class="about">
        <img src="images/about.png" alt="">
        <div class="container">
            <h1>About Us</h1>
            <p class="text">
                {{!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptatum nemo excepturi debitis soluta non ipsum repellendus eveniet molestias id Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, exercitationem cum. Repellendus, labore soluta aspernatur odio cumque error quibusdam numquam quam? Accusantium est reiciendis cum voluptas aliquam fuga dolore, eos, maiores, recusandae quibusdam repellat? --}}
                The introducing website, Thapar Mart which is going to be implemented for the residents of Thapar university to provide them with the convenience of shopping so that they can order item from their rooms without any hassle. From a seller’s perspective, they can expand their business by reaching out to more customers.
            </p>
            <div class="skills">
                <span>Dedication</span>
                <span>Hard work</span>
                <span>Determiniation</span>
            </div>
        </div>
    </div>
</div>
    
    <section>
        <div id="google_translate_element"></div>
    </section>
</body>
</html>