<!DOCTYPE html>
<html>
    <head>
        <title>Thapar Mart</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="/css/cart.css" />
        <script src="images/cart.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <h1 class="band-name band-name-large">Cart</h1>
        </header>
        <section class="container content-section">
            {{!-- <h2 class="section-header">MUSIC</h2> --}}
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">COFFEE</span>
                    <img class="shop-item-image" src="images/coffee.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">40/-</span>
                        <button class="btn btn-primary shop-item-button" type="button">Confirm Item</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">PIZZA</span>
                    <img class="shop-item-image" src="images/pizza.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">120/-</span>
                        <button class="btn btn-primary shop-item-button"type="button">Confirm Item</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">NOODLES</span>
                    <img class="shop-item-image" src="images/noodles.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">90/-</span>
                        <button class="btn btn-primary shop-item-button" type="button">Confirm Item</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">GARLIC BREAD</span>
                    <img class="shop-item-image" src="images/bread.jpg.crdownload.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">80/-</span>
                        <button class="btn btn-primary shop-item-button" type="button">Confirm Item</button>
                    </div>
                </div>
            </div>
        </section>
        {{!-- <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">T-Shirt</span>
                    <img class="shop-item-image" src="Images/Shirt.png">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$19.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Coffee Cup</span>
                    <img class="shop-item-image" src="Images/Cofee.png">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$6.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section> --}}
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section> 
        {{!-- <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">The Generics</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer> --}}
    </body>
</html>