<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/chatbot.css">
    <title>Thapar Mart</title>
</head>
<body>
    <div class="part">
    <header>YOUR COMPANION</header>
    <section class="main">
        {{!-- <div "background-image: images/bg.png"></div> --}}
            <div class="user-area">
                <img src="/images/human.png">
            </div>
            <div class="chatarea-main">
                <div class="chatarea-outer">
                   
                </div>
            </div>    
            <div class="chatbot-area">
                <img src="/images/bot.png">
            </div>
        <button id="mic"><i class="flaticon-microphone"></i></button>
    </section>
</div>

    <script src="images/main.js"></script>
</body>
</html>