<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Thapar Mart</title>
</head>
<body>
    <section class="contact2">
        <div style="background-image: url('images/contact.jpg');">
        <div class="content2">
            <h2>Contact Us</h2>
            <p>Incase you want to reach out to us, or wish to say anything please feel free to wite to us.</p>
        </div>
        <div class="container3">
            <div class="contactinfo">
                
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>contact@thaparMart.co</p>
                        
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i> </div>
                    <div class="text">
                        <h3>Instagram</h3>
                        <p>@THAPAR_MART</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form action="">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="" required="required"></textarea>
                        <span>Type your message....</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>