<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
    <title>Thapar Mart</title>
</head>
<body>
    <div class="navbar">
    <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/foodjoints">Food Joints</a></li>
            <li><a href="/stationary">Stationary</a></li>
            <li><a href="/daily">Daily needs</a></li>
            <li><a href="/fresh">Fresh Fruits</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/chatbot">Help</a></li>
      </ul>
    </div>
    <div class="page"></div>
    <div class="about">
        <img src="images/about.png" alt="">
        <div class="container">
            <h1 style="font-family: 'Readex Pro', sans-serif;">About Us</h1>
            <p class="text">
                The introducing website, Thapar Mart which is going to be implemented for the residents of Thapar university to provide them with the convenience of shopping so that they can order item from their rooms without any hassle. From a seller’s perspective, they can expand their business by reaching out to more customers.
            </p>
            <div class="skills">
                <span>Easy to Use</span>
                <span>Time saving</span>
                <span>Fast</span>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>