<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sips.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Thapar Mart</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/foodjoints">Food Joints</a></li>
            <li><a href="/stationary">Stationary</a></li>
            <li><a href="/daily">Daily needs</a></li>
            <li><a href="/fresh">Fresh Fruits</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/chatbot">Help</a></li>
          </ul>
        </div>
    <div class="menu">
        <marquee behavior="" direction=""><h2>Welcome to Sips & Bites</h2></marquee>
    </div>
    <div class="testimonials">
        
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/coffee.jpg" alt="">
                </div>
               
                
                
                <div class="name">
                    <p>Cold coffee</p>
                </div>
                <div class="amt">
                    <p >Price : 40/-</p>
                </div>   
                
                <div class="details">
                 <a href="/cart">Add to cart</a> 
                 {{!-- <button type="button">ADD TO CART</button> --}}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/pizza.jpg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Veggie Pizza</p>
                </div>
                <div class="amt">
                    <p >Price : 120/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/noodles.jpg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Veg noodles</p>
                </div>
                <div class="amt">
                    <p >Price : 90/-</p>
                </div> 
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/bread.jpg.crdownload.jpg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Garlic bread</p>
                </div>
                <div class="amt">
                    <p >Price : 80/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/white.jpeg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >White Sauce Pasta</p>
                </div>
                <div class="amt">
                    <p >Price : 60/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/red.jpeg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Red sauce Pasta</p>
                </div>
                <div class="amt">
                    <p >Price : 60/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/card1pic2.jpg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Cold coffee</p>
                </div>
                <div class="amt">
                    <p >Price : 30/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/card1pic2.jpg" alt="">
                </div>
                
                
                
                <div class="name">
                    <p >Cold coffee</p>
                </div>
                <div class="amt">
                    <p >Price : 30/-</p>
                </div>   
                
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <div class="image">
                    <img src="images/card1pic2.jpg" alt="">
                </div>
                
                
                <div class="name">
                <p >Cold coffee</p>
            </div>
            <div class="amt">
                <p >Price : 30/-</p>
            </div>   
                <div class="details">
                 <a href="">Add to Cart</a> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>