<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foodjoints.css">
    <title>Thapar Mart</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/foodjoints">Food Joints</a></li>
            <li><a href="/stationary">Stationary</a></li>
            <li><a href="/daily">Daily needs</a></li>
            <li><a href="/fresh">Fresh Fruits</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/chatbot">Help</a></li>
          </ul>
        </div>
<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>Sips & Bites</h3>
                <p>COS Market</p>
                <a href="images/sips.html">View store</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>Pizza Nation </h3>
                <p>COS Market</p>
                <a href="#">View store</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>Sodexo Cafeteria</h3>
                <p>Admin Block</p>
                <a href="#">View store</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>Bombay Manchurian</h3>
                <p>COS Market</p>
                <a href="#">View store</a>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>Honey's Cafe</h3>
                <p>COS Market</p>
                <a href="#">View store</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <img src="images/1.jpeg" alt="">
                <h3>G Block Canteen</h3>
                <p>G Block</p>
                <a href="#">View store</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>