ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03a9f4;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ffffff;
    color: #ff568f;
    box-shadow: 0 0 10px#ffffff,0 0 20px #ffffff,0 0 40px #ffffff;

  }
  .menu h2{
    font-family: 'Dancing Script', cursive;
    color: #ff568f;
    font-size: 100px;
    text-align: center;
  }
  .testimonials{
    margin: 200px auto 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px ,1fr));
    grid-gap: 20px;

}
.testimonials .card
{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 30px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 5%;
    
    
}
.testimonials .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    z-index: 1;
    left: 0;    
    width: 100%;
    height: 100%;
    background: linear-gradient(#d6cbd0 ,#8174a7);
    
    transition: 0.5s;
    
}
.testimonials .card:hover .layer{
    top: 0;
}
.testimonials .card .content{
    z-index: 2;
    position: relative;
   
}

.testimonials .card .content .name p{
    font-size: 35px;
    font-family: 'Passion One', cursive;
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
    transition: 0.5s;
}
.testimonials .card:hover .content .name p{
    color: #fff;
}

.testimonials .card .content .amt p{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 12px;
    transition: 0.5s;
}
.testimonials .card:hover .content .amt p{
    color: #fff;
}
img{
    width : 100%;
    height: 150px;
    margin: 0 auto;
    border-radius: 10%;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

}
.details h2{
    font-size: 18px;
    color: #ff0665;
    transition: 0.5s;

}
.details a{
    color: white ;
    background-color: #03a9f4;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
    
    justify-content: center;

    
}
 .details a:hover{
    
    color:#03a9f4;
    background-color: white;
    
}


.card:hover .content p{
    color: #fff;
}
.name p{
    font-family: 'Passion One', cursive;
    font-size: 100px;
}
